<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="../index.html" title="">Inicio</a></li>
          <li><a href="../content/colaboradores/Colaboradores.html" title="">Colaboradores</a></li>
          <li><a href="../content/laboratorio/Laboratorio.html" title="">Laboratorio</a></li>
          <li><a href="http://labremotomd.fi-p.unam.mx:8090/" title="">Laboratorio Remoto</a></li>
          <li><a href="../content/filosofia/Filosofia.html" title="">Filosofía</a></li>
          <li><a href="../content/vinculacion/Vinculacion.html" title="">Vinculación</a></li>
        </ul>
      </div>
    </div>
  </nav>
  